<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.plex.postgresql</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/Plex Media Server.app/Contents/MacOS/Plex Media Server</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>DYLD_INSERT_LIBRARIES</key>
        <string>/usr/local/lib/plex-postgresql/db_interpose_pg.dylib</string>
        <key>PLEX_PG_HOST</key>
        <string>localhost</string>
        <key>PLEX_PG_PORT</key>
        <string>5432</string>
        <key>PLEX_PG_DATABASE</key>
        <string>plex</string>
        <key>PLEX_PG_USER</key>
        <string>plex</string>
        <key>PLEX_PG_PASSWORD</key>
        <string></string>
        <key>PLEX_PG_SCHEMA</key>
        <string>plex</string>
    </dict>
    <key>RunAtLoad</key>
    <false/>
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
